{% load blog_tags mezzanine_tags i18n speciallinks %}

{% block blog_recent_posts %}
{% blog_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<div class="blog-post">
    <h3>Últimos Posts</h3>
    {% for recent_post in recent_posts %}
    {% spaceless %}
    <div class="media">
        <a class="pull-left" title="{{ recent_post.title }}" href="{{ recent_post.get_absolute_url }}">
            {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
            <img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 80 80 %}">
            {% endif %}
        </a>
        <div class="media-body">
            <h5 class="media-heading">
                <a title="{{ recent_post.title }}"  href="{{ recent_post.get_absolute_url }}">
                    {{ recent_post.publish_date|date:'j M Y' }}
                </a>
            </h5>
            <p>
                <a title="{{ recent_post.title }}" href="{{ recent_post.get_absolute_url }}">
                    {{ recent_post.title }}
                </a>
            </p>
        </div>
    </div>
    {% endspaceless %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% render_important_links as important_links %}
{% if important_links %}
<h3>{% trans "Sites Importantes" %}</h3>
<ul class="list-unstyled">
    {% for link in important_links %}
    <li><a href="{{ link.url }}" target="_blank" title="{{ link.title }}"
        >{{ link.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% block blog_categories %}
{% blog_categories as categories %}
{% if categories %}
<h3>{% trans "Categories" %}</h3>
<ul class="list-unstyled">
{% for category in categories %}
<li><a href="{% url "blog_post_list_category" category.slug %}"
    >{{ category }}</a> ({{ category.post_count }})</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block blog_months %}
{% blog_months as months %}
{% if months %}
<h3>{% trans "Archive" %}</h3>
{% for month in months %}
    {% ifchanged month.date.year %}
        {% if not forloop.first %}</ul>{% endif %}
        <h6>{{ month.date.year }}</h6><ul class="list-unstyled">
    {% endifchanged %}
    <li><a href="{% url "blog_post_list_month" year=month.date.year month=month.date.month %}"
        >{{ month.date|date:"F" }}</a> ({{ month.post_count }})</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
