{% load pages_tags mezzanine_tags i18n staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="Cibelly Barreto">
    <meta name="keywords" content="contabilizarte, contabilidade, cibelly, {% block meta_keywords %}{% endblock %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    <title>{% block meta_title %}Contabilidade divertida{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    {% compress css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/owlcarousel/owl.carousel.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/owlcarousel/owl.theme.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'rrssb/css/rrssb.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>



    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />

    {% block extra_css %}{% endblock %}

    {% endcompress %}

    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
<script src="{% static 'js/html5shiv.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->

  {% block extra_head %}{% endblock %}
  </head>

  <body id="{% block body_id %}body{% endblock %}">
    <!--header start-->
    <header class="head-section">
      <div class="navbar navbar-default navbar-static-top container">
          <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
              type="button"><span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span></button>
              <div class="logo">
                <a href="{% url "home" %}"><img src="{% static 'img/logo-contabilizarte.png' %}" width="350" height="80" alt="ESTAVOS Logo" /></a>
              </div>
          </div>

          <div class="navbar-collapse collapse">
            {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}
          </div>
      </div>
    </header>
    <!--header end-->

    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              {% block title %}{% endblock title %}
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              {% spaceless %}
              {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
              {% endspaceless %}
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

    <div class="container">
        {% nevercache %}
        {% if messages %}
        <div class="row">
            <div class="col-md-12">
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endnevercache %}
    </div> <!-- / Messages -->

    {% block all_content %}
    <!--container start-->
    <div class="container">
      <div class="row">
        <!--blog start-->
        {% block main_section %}
        <div class="col-lg-9 ">
          {% block main %}

          {% endblock main %}
        </div>
        {% endblock main_section %}

        <div class="col-lg-3">
        {% block right_panel %}
        {% endblock right_panel %}
        </div>

        <!--blog end-->
      </div>

    </div>
    <!--container end-->
    {% endblock all_content %}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=324153641370185";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!--footer start-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-3">
            <div class="text-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".7s">
              <h1>
                ContabiliZarte
              </h1>
              <p>
                Uma maneira divertida de aprender contabilidade e finanças :)
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
            <h1>
              Entre em Contato!
            </h1>
            <address>
              <p>
                <i class="fa fa-envelope pr-10">
                </i>
                Email :
                <a href="javascript:;">
                  contato@contabilizarte.com.br
                </a>
              </p>
            </address>
          </div>
          <div class="col-lg-3 col-sm-3 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
            <h1>
              ContabiliZarte na rede!
            </h1>
            <div class="fb-page" data-href="https://www.facebook.com/ContabiliZarte/"
                 data-small-header="false" data-adapt-container-width="true"
                 data-hide-cover="false" data-show-facepile="true">
                  <blockquote cite="https://www.facebook.com/ContabiliZarte/"
                              class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/ContabiliZarte/">ContabiliZarte</a>
                  </blockquote>
            </div>
          </div>
          <div class="col-lg-3 col-sm-3">
            <div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
              <h1>
                Navegação
              </h1>
              <ul class="page-footer-list">

                <li>
                  <i class="fa fa-angle-right">
                  </i>
                  <a href="about.html">
                    About Us
                  </a>
                </li>
                <li>
                  <i class="fa fa-angle-right">
                  </i>
                  <a href="faq.html">
                    Support
                  </a>
                </li>
                <li>
                  <i class="fa fa-angle-right">
                  </i>
                  <a href="service.html">
                    Service
                  </a>
                </li>
                <li>
                  <i class="fa fa-angle-right">
                  </i>
                  <a href="privacy-policy.html">
                    Privacy Policy
                  </a>
                </li>
                <li>
                  <i class="fa fa-angle-right">
                  </i>
                  <a href="career.html">
                    We are Hiring
                  </a>
                </li>
                <li>
                  <i class="fa fa-angle-right">
                  </i>
                  <a href="terms.html">
                    Term & condition
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </footer>
    <!-- footer end -->
    <!--small footer start -->
    <footer class="footer-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 pull-right">
                    <ul class="social-link-footer list-unstyled">
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".2s"><a target="_blank" href="https://plus.google.com/104896458351638810691" ><i class="fa fa-google-plus"></i></a></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".2s"><a target="_blank" href="https://www.instagram.com/contabilizarte/"><i class="fa fa-instagram"></i></a></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".4s"><a target="_blank" href="https://www.linkedin.com/in/cibellydiasbarreto/"><i class="fa fa-linkedin"></i></a></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".5s"><a target="_blank" href="https://twitter.com/ContabiliZarte/"><i class="fa fa-twitter"></i></a></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".1s"><a target="_blank" href="https://www.facebook.com/ContabiliZarte/"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                  <div class="copyright">
                    <p>&copy; Contabilizarte - 2017</p>
                  </div>
                </div>
            </div>
        </div>
    </footer>
    <!--small footer end-->

    {% include "includes/footer_scripts.html" %}

    {% compress js %}

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}">
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'js/hover-dropdown.js' %}">
    </script>
    <script defer src="{% static 'js/jquery.flexslider.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'assets/bxslider/jquery.bxslider.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'assets/owlcarousel/owl.carousel.js' %}">
    </script>

    <script src="{% static 'js/jquery.easing.min.js' %}">
    </script>
    <script src="{% static 'js/link-hover.js' %}">
    </script>


    <!--common script for all pages-->
    <script src="{% static 'js/common-scripts.js' %}">
    </script>


    <script src="{% static 'js/wow.min.js' %}">
    </script>
    <script>
      wow = new WOW(
        {
          boxClass:     'wow',      // default
          animateClass: 'animated', // default
          offset:       0          // default
        }
      )
        wow.init();
    </script>
    <script src="{% static 'rrssb/js/rrssb.min.js' %}"></script>
    <script id="dsq-count-scr" src="//contabilizarte.disqus.com/count.js" async></script>
    {% block extra_js %}{% endblock %}

    {% endcompress %}
  </body>
</html>
